# Code Owners for s3-azure-gateway-proxy-openshift
#
# This file specifies who should review and approve changes to different parts
# of the repository. GitHub will automatically request reviews from these owners.
#
# See https://help.github.com/articles/about-codeowners/ for more information
#

# Default owners for everything in the repository
* @jagatjyoti

